---
title: ""
layout: splash
author_profile: true
permalink: 
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/Architectural_Details.jpg
excerpt: "**Cognition, Creativity and Communication**"
intro: 
  - excerpt: 'Research in the Laboratory is focused on understanding the mechanisms for degeneration and regeneration of soft tissues of the musculoskeletal system, including the intervertebral disc, articular cartilage, and meniscus.

Our research uses mechanical engineering, materials synthesis, and cell and molecular biology to advance drug depots and biomaterials for musculoskeletal therapies.  

Ongoing projects include:

- Synthesis of novel biomaterials for controlling intervertebral disc cell phenotype and metabolism 

- Progenitor cell differentiation to intervertebral disc cell phenotypes

- Synthesis of novel drug depots for sustained release of inflammatory antagonists in arthritis and disc pathology

- Studies of cell-cell and cell-matrix interactions that regulate intervertebral disc and progenitor cell phenotypes

- Preclinical models of arthritis and intervertebral disc disorders and novel assessments of pain and dysfunction.'

feature_row:
  - image_path: assets/images/celebration.jpg
    alt: "placeholder image 1"
    title: "News"
    excerpt: "What's going on in the lab?<br><br>"
    url: "/news/"
    btn_label: "Read more"
    btn_class: "btn--primary"
  - image_path: /assets/images/cells.jpg
    alt: "placeholder image 2"
    title: "Research"
    excerpt: "Find out more about our research."
    url: "/research/"
    btn_label: "Read more"
    btn_class: "btn--primary"
  - image_path: /assets/images/brauer.jpg
    alt: "placeholder image 3"
    title: "Contact"
    excerpt: "Interested in contacting or joining us?<br><br>"
    url: "/contact/"
    btn_label: "Get in touch"
    btn_class: "btn--primary"

author_profile: true
---

{% include feature_row id="intro" %}

{% include feature_row %}
