---
# Only the main Sass file needs front matter (the dashes are enough)
---
$primary-color: #a51417;
$link-color: #a51417;

@charset "utf-8";

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url(assets/fonts/SourceSansPro-Regular.otf);
}

$base-font-family: “Source Sans” !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
